<nav>
    <div id="menu2">
        <a class="menu-link" href="/thanks">Autograph</a>
        <a class="menu-link" href="/profile/edit">Profile</a>
        <a class="menu-link" href="/signatures">Autographs</a>
        <a class="menu-link" href="/logout">Logout</a>
    </div>
</nav>