<nav>
    <div id="menu2">
        <a class="menu-link" href="/thanks">My Signature</a>
        <a class="menu-link" href="/profile">Profile</a>
        <a class="menu-link" href="/signatures">Signatures</a>

    </div>
</nav>