<h1>Edit your profile.</h1>
<form method="POST" class="form">
    <label for="first">Your name:</label>
    <input
        class="first-name"
        type="text"
        name="first"
        placeholder="first name"
        autocomplete="off"
    />
    <label for="last">Your Surname:</label>
    <input type="text" name="last" placeholder="Surname" autocomplete="off" />
    <input
        type="email"
        name="email"
        placeholder="email@email.com"
        autocomplete="off"
    />
    <label for="password">Password:</label>
    <input
        type="password"
        name="password"
        placeholder="*******"
        autocomplete="off"
    />
     <label for="age">Age:</label>
    <input
        class="age"
        type="number"
        name="age"
        placeholder=""
        autocomplete="off"
    />
    <label for="urlpage">Webpage or Social Media:</label>
    <input
        type="urlpage"
        name="urlpage"
        placeholder="http://"
        autocomplete="off"
    />
    <label for="city">City:</label>
    <input type="text" name="city" placeholder="Your City" autocomplete="off" />
    <button type="submit">SUBMIT</button>
</form>