<nav>
    <div id="menu2">
        <a class="menu-link" href="/register">Register</a>
        <a class="menu-link" href="/login">Login</a>
    </div>
</nav>
<div></div>
<div></div>
<div></div>
<div></div>