<nav>
    <div id="menu2">
        <a class="menu-link" href="/register">Register</a>
        <a class="menu-link" href="/login">Login</a>
    </div>
</nav>
<div><h1 class="autographtitle">The importance of your autograph:</h1></div>
<div><h2 class="autographtext">The autograph has been an important symbol to
        close contracts or prove identity. However, contrary to what we think,
        the autograph is not the same as the signature: It is the artistic
        expression of the signature.
        <br /><br />

        The technologies have been adapted to give the opportunity to the users
        to sign in the computer, but everybody knows how difficult it is to sign
        with a mouse. Which kind of autograph can we do with a mouse?
        <br /><br />

        We would like you to be able to show your best autograph a little bit
        easier. Open your phone, store your autograph and use it wherever you
        want!
    </h2></div>
<div></div>
<div></div>