<h1>LOGIN to add or edit your signature.</h1>
<div></div>

{{#if error}}
    <h2 class="error">Error loging. Email or password are incorrect.</h2>
{{/if}}
<form method="POST" class="form">
    <input
        type="email"
        name="email"
        placeholder="email@email.com"
        autocomplete="off"
    />
    <input
        type="password"
        name="password"
        placeholder="*******"
        autocomplete="off"
    />
    <button class="loginbutton signbutton" type="submit">LOGIN</button>
</form>