<h1>Store your signature in our signatures bank: </h1>
{{#if error}}
    <h2 class="error">We couldnt add your signature to the bank. Make sure that
        you fill all the inputs.</h2>
{{/if}}
<title>Store your signature in our signatures bank: </title>
<div></div>

<form method="POST" class="form">
    <input
        class="last-name"
        id="sign"
        type="hidden"
        name="signature"
        placeholder=" "
        autocomplete="off"
    />
    <canvas id="canv" width="460" height="280"></canvas>
    <button class="signbutton" type="submit">SIGN</button>
</form>

<script src="script.js"></script>