<title>Help us to </title>
<form method="POST">
    <input
        type="text"
        name="first"
        placeholder="first name"
        autocomplete="off"
    />
    <input type="text" name="last" placeholder="Surname" autocomplete="off" />
    <input
        type="text"
        name="signature"
        placeholder=" "
        autocomplete="off"
    />//type="hidden"
    <canvas id="canv" width="200" height="70" style=></canvas>
    <button type="submit">SIGN</button>
</form>

<script src="script.js"></script>