<title>Store your signature in our signatures bank: </title>
{{#if error}}
    <h2 class="error">We couldnt add your signature to the bank. Make sure that
        you fill all the inputs.</h2>
{{/if}}

<form method="POST">
    <input
        type="text"
        name="first"
        placeholder="first name"
        autocomplete="off"
    />
    <input type="text" name="last" placeholder="Surname" autocomplete="off" />
    <input
        id="sign"
        type="hidden"
        name="signature"
        placeholder=" "
        autocomplete="off"
    />
    <canvas id="canv" width="400" height="140" style></canvas>
    <button type="submit">SIGN</button>
</form>

<script src="script.js"></script>