{{>navbar}}
<h1>You can complete you profile.</h1>
{{#if error}}
    <h2 class="error">Something went wrong adding your profile data.</h2>
{{/if}}
<form method="POST" class="form formprofile">
    <label for="age">Age:</label>
    <input
        class="age"
        type="number"
        name="age"
        placeholder=""
        min="0"
        autocomplete="off"
    />
    <label for="urlpage">Webpage or Social Media:</label>
    <input
        type="urlpage"
        name="urlpage"
        placeholder="http://"
        autocomplete="off"
    />
    <label for="city">City:</label>
    <input type="text" name="city" placeholder="Your City" autocomplete="off" />
    <button type="submit">CONTINUE</button>
</form>
<div></div>
<div></div>
<div></div>