<h1>Your signature have been stored.</h1>
<div class="thanks">
    <h2>Well done
        {{firstname}}, your signature is one of the
        {{results}}
        signatures in the signatures bank!</h2>
    <img src="{{canvas}}" alt="canvas" class="canvs"/>
</div>
<h2>Take a look at the rest of
    <a class="menu-link" href="/signatures">signers</a></h2>