body {
    background: url(desktop.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 30px 25% 50%;
    justify-content: center;
    justify-items: center;
    font-family: "Inria Sans", sans-serif;
    color: #d8d8e5;
}

#canv {
    border: 1px dotted black;
    display: inherit;
    background-color: rgba(216, 216, 229, 0.301);
}

.thanks {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.form {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.error {
    color: red;
    font-weight: bolder;
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
}

input {
    margin-bottom: 10px;
    width: 70%;
    height: 60%;
    font-size: 170%;
    border-radius: 7px;
    text-align: center;
    background-color: #d8d8e5;
}
button {
    width: 80%;
    height: 75%;
    font-size: 140%;
    border-radius: 7px;
}
button:hover {
    width: 78%;
    height: 73%;
}
.canvs {
    border: 1px dashed #d8d8e5;
}

.signers {
    display: inline;
    padding-right: 20px;
}

/* Navbar */
#menu2 {
    /* position: fixed; */
    /* height: 100%;
    width: 20%; */
    /* right: 0; */
    display: flex;
    background-color: #2148bf;
    border-radius: 7px;
}

.menu-link {
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    color: #192340;
    font-weight: 600;
}

.menu-link:hover {
    background-color: #192340;
    color: #2148bf;
}

a {
    text-decoration: none;
    color: #d8d8e5;
    font-weight: 900;
}

a:hover {
    color:#2148bf ;
}
.loginbutton {
    width: 70%;
    height: 60%;
    font-size: 150%;
    border-radius: 7px;
}

.signbutton {
    width: 50%;
    height: 40%;
    font-size: 150%;
    border-radius: 7px;
}
.signbutton:hover {
    width: 48%;
    height: 38%;
}
